*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradle/wrapper/gradle-wrapper.properties
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/misc.xml
.idea/codeStyles/Project.xml
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
gradle/wrapper/gradle-wrapper.jar
